*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background: linear-gradient(300deg, rgb(185, 185, 192), rgb(37, 74, 131));

}


h2{
    text-align: center;
    text-decoration: underline;

}

button:hover{
    cursor: pointer;
}

.main-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}

.wrapper{
    position: relative;
    box-shadow: 0px 0px 10px 5px black;
    padding: 20px;
    background: url("Assets/Background/theme-1.jpg");
    background-size: cover !important;
    background-position: center !important;
    width: 1000px;
    height: 600px;
}

#wheel-description1{
    position: relative;
    min-width: 400px;
    word-wrap: break-word;
    max-height: 1000px;
    box-shadow: 0px 0px 10px 5px black;
    padding: 20px;
    margin: 20px;
    background: rgb(236, 207, 207);
}

#wheel-description1 h2{
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

#wheel-segments-table{
    background: white;
    border: 2px solid rgb(121, 101, 101);
    border-radius: 10px;
    max-height: 250px;
    padding: 10px;
    overflow: auto;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}

#wheel-segments-table:focus{
    background:rgb(223, 238, 248);
}

#segment-count{
    background: rgb(223, 223, 255);
    position: absolute;
    bottom: 5%;
    font-size: 0.9rem;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#wheel-description2{
    display: none;
    position: relative;
    width: 50%;
    max-width: 1200px;
    min-width: 400px;
    word-wrap: break-word;
    max-height: 1000px;
    box-shadow: 0px 0px 10px 5px black;
    padding: 20px;
    margin: 20px;
    background: rgb(236, 207, 207);
}

#spin-results{
    margin-top: 10px;
    padding: 10px 20px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 80%
}

.page-button-2{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgb(43, 40, 40);
}

.page-button-1{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgb(172, 134, 134);
}

#circles button:hover{
    background:rgb(173, 149, 149);
}

/* important */
.sub-wrapper{
    display:flex;
    width: 80%;
    height: 80%;
}

.container1{
    width: 400px; 
    height: 400px;
    margin-left: 25px;
    display: flex;
    position: relative;
}

#wheel {
    display: block;
    top: 0;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#spin-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-size: 1.0em;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    background: radial-gradient(rgb(255, 251, 0) 20%, rgb(133, 133, 187));
    z-index: 5;
    /* opacity: 0;  */
}

#spin-button:hover{
    opacity: 0.9;
}

#wheel-arrow{
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

#wheel-border{
    /* opacity: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#final-value{
    position: relative;
    font-size: 1.0em;
    font-weight: 500;
    left: 22%;
    margin-top: 1.5em;
    color: #1565c0;
    border: 3px solid black;
    background: white;
    width: fit-content;
    padding: 0 20px;
    margin: 10px auto;
}


.wheel-settings{
    padding: 30px;
    border: 3px solid black;
    border-radius: 10px;;
    background:rgb(231, 231, 213);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.wheel-settings h2{
    text-decoration: underline

}

.wheel-colour{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px
}

.wheel-colour button{
    width: 60px;
    border-radius: 10px;
}

.wheel-colour button:hover{
    opacity: 0.7;
}

#red-button{
    color: white;
    background: red
}

#yellow-button{
    color: black;
    background: yellow;
}

#blue-button{
    color: white;
    background: blue;
}


.wheel-settings p{
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}

.background-theme{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px
}

.background-theme button{
    width: 80px;
    border-radius: 10px;
    color: white;
}

.background-theme button:hover{
    opacity: 0.7;
}

#theme-1{
    background: url("Assets/Background/theme-1.jpg");
    background-size: cover !important;
    background-position: center !important;
}

#theme-2{
    background: url("Assets/Background/theme-2.jpg");
    background-size: cover !important;
    background-position: center !important;
}

#theme-3{
    background: url("Assets/Background/theme-3.jpg");
    background-size: cover !important;
    background-position: center !important;
}

#music-icons{
    position: absolute;
    right: 14%;
    z-index: 5;
}

#music-icons img{
    height: 1.5em;
    background: white;
    padding: 4px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;;
    cursor: pointer;
}

#mute-icon{
    display: none;
}

.settings-icon{
    height: 1em;
    vertical-align: -2px;
    fill: white;
}

#settings-btn{
    position: absolute;
    right: 3%;
    z-index: 1;
    border-radius: 10px;
    padding: 0 5px;
    color: black;
    background: rgb(159, 216, 255);
    transition: 0.4s;
}

#settings-btn:hover{
    color: white;
    background: rgb(93, 93, 143);
}


#hide-settings{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    border-radius: 10px;
    color: black;
    background: rgb(159, 216, 255);
    transition: 0.4s;
}

#hide-settings img{
    margin-left: 3px;
    margin-top: 3px;
}

#hide-settings:hover{
    color: white;
    background: rgb(93, 93, 143);
}

#popup-box{
    position: relative;
    float: right;
    font-size: 0.8em;
    vertical-align: 7px;
    color: white;
    right: 15%;
    padding: 0px 10px;
    border: 1px solid black;
    background-color: rgba(70, 61, 61, 0.5);

}

#popup-box label{
    vertical-align: 2px;
}


#popup-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: 60px;
    background: rgb(209, 134, 134);
    color: white;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    padding: 0px 80px;
    animation: fadeIn 2.0s;
    display: none;
    z-index: 10;
}

#popup-container button{
    padding: 5px 30px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background: rgb(182, 52, 52);
    color: white;
    border: 0;
    font-size: 0.8em;
    vertical-align: -10px;   
}

#popup-title {
    /* position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: -10px; */
    margin-top: -35px;
    color: rgb(253, 249, 249);
}

/* #popup-result p{

} */

#popup-container img{
    height: 3em;
}

#popup-title{
    display: flex;
}

#circles{
    position: absolute;
    top: 82%;
    left: 20%;
}

#wheel-speed{
    margin-top: 15px;
    text-align: center;
}

#upload-theme{
    position: relative;
    left: 15%;
    max-width: 500px;
    margin-bottom: 30px;
}

#input-theme {
    max-width: 200px;
    display: none;
}

#input-theme input{
    max-width: 200px;
}

#upload-theme p{
    position: relative;
    font-weight: 400;
    font-size: 0.8em;
    left: 15%;
    background: rgb(159, 216, 255);
    width: fit-content;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    padding: 0px 8px;
    margin-top: 3px;
    cursor:pointer;
    transition: 0.4s;
}

#upload-theme p:hover{
    color: white;
    background: rgb(93, 93, 143);
}


#music-settings{

    color: black;
}

#music-settings div p{
    font-weight: 500;
    font-size: 0.8em
}

#music-volume{
    display: none;
}

#music-volume input{
    -webkit-appearance: none;
    height: 5px;
    width: 70px;
    border-radius: 10px;
}

#music-volume .slider::-webkit-slider-thumb{
    background: red;
}

#music-settings-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

}

#music-settings-wrapper div{
    padding: 0px 10px;
    flex-basis: auto;
}

#upload-music label{
    position: relative;
    font-weight: 400;
    font-size: 1.0em;
    background: rgb(159, 216, 255);
    width: fit-content;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    padding: 0px 8px;
    margin-top: 3px;
    cursor:pointer;
    transition: 0.4s;
}

#upload-music input{
    display: none;
}

#upload-music label:hover{
    color: white;
    background: rgb(93, 93, 143);
}

#wheel-field{
    position: relative;
}

#wheel-change-button{
    position: relative;
    left: 30%;
    padding: 0 10px;
    border-radius: 10px;
    color: black;
    background: rgb(159, 216, 255);
}

#wheel-change-button:hover{
    color: white;
    background: rgb(93, 93, 143);
}

#page-colour-custom, #wheel-colour-custom{
    margin-top: 5px;
    text-align: center;
    font-size: 0.9em;
}

#page-colour-custom input, #wheel-colour-custom input{
    width: 25px;
}

/* .fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
} */

@keyframes rotate{
    100%{
        transform: rotate(360deg)
    }
}

.pop-up{
    opacity: 1;
    transition: all 0.5s ease in;
}

@keyframes fadeIn{
    from {
        opacity: 0;
      }
      to {
        opacity: 1;

      }
}

@keyframes fadeOut{
    from {
        opacity: 1;
      }
      to {
        opacity: 0;

      }
}

@keyframes slide-in{
    from{
        transform: translateX(-20%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-out{
    from{
        transform: translateX(0%);
        opacity: 1;
    }

    to{
        transform: translateX(-20%);
        opacity: 0;

    }
}

@media (max-width: 1200px){
    #wheel-description1{
        min-width: 300px;
    }
    .wrapper{
        width: 900px;
        height: 600px;
    }

}

@media (max-width: 600px){
    .main-wrapper{
        height: 100%;
        margin-top: 50px
    }
    .container1{
        margin-top: 30px;
    }
    .sub-wrapper{
        flex-direction: column;
        margin: 0px;
    }
    .wrapper{
        width: 300px;
        height: 500px;
    }
    .sub-wrapper{
        width: 100%;
        align-items: center;

    }
    #wheel-description1, #wheel-description2{
        min-width: 200px;
        max-width: 300px;
        min-height: 310px;
    }
    #wheel-description1 h2, #wheel-description2 h2{
        font-size: 1.0rem;
    }

    #wheel-segments-table{
        font-size: 0.8rem;
        max-height: 200px;
    }

    #segment-count{
        font-size: 0.7rem;
        bottom: 1%;
        left: 20%
    }
    #settings-btn{
        position: absolute;
        top: 80%;
        right: 35%;
        z-index: 100;
    }
    #music-icons{
        position: absolute;
        top: 80%;
        left: 30%;
        display: none;
    }
    #wheel {
        display: block;
        padding: 20px;
        position: relative;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #spin-button{
        top: 80%;
        left: 50%;
    }
    #wheel-arrow{
        top: 30%;
    }
    #circles{
        position: absolute;
        top: 73%;
        left: 43%;
    }
    #final-value{
        display: none;
    }
    #popup-box{
        top: 115%;
        left: 0%;
        margin-bottom: 20px;
    }
    .wheel-settings{
        scale: 0.8
    }
    #popup-container{
        margin-top: 400px;
    }
}